header {
  background-color: #1C1E53;
  width: 100%;
height: 92px;
}

main {
  width: 100%;
height: 3278px;
background: #F4F6FC;
}

footer {
  width: 100%;
height: 489px;
flex-shrink: 0;
background: #1C1E53;
top: 3370px;
position: absolute;
}

.header-img {
  left: 160px;
  top: 33px;
  position: absolute;
}

.header-href-1 {
  left: 802px;
  top: 32px;
  position: absolute;
  color: white;
}

.header-href-2 {
  left: 892px;
  top: 32px;
  position: absolute;
  color: white;
}

.header-href-3 {
  left: 1002px;
  top: 32px;
  position: absolute;
  color: white;
}

.header-href-4 {
  left: 1092px;
  top: 32px;
  position: absolute;
  color: white;
}


.header-href-5 {
  left: 1182px;
  top: 32px;
  position: absolute;
  color: white;
}

.header-button {
  width: 185px;
height: 60px;
flex-shrink: 0;
border-radius: 41px;
border: 2px solid rgba(244, 246, 252, 0.20);
left: 1270px;
top: 16px;
position: absolute;
background-color: #1C1E53;
color: white;
}

.main-text {
  width: 582px;
color: var(--white, #FFF);
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: 74px;
left: 160px;
top: 126px;
position: absolute;
}

.main-top {
  width: 100%;
height: 672px;
flex-shrink: 0;
background: var(--tint-blue, #1C1E53);
top: 92px;
position: absolute;
}

.main-text-2 {
  width: 562px;
color: var(--white, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
left: 160px;
top: 372px;
position: absolute;
}

.main-button {
  display: inline-flex;
padding: 16px 56px;
justify-content: center;
align-items: center;
border-radius: 41px;
background: #FCD980;
left: 160px;
top: 476px;
position: absolute;
border: none;
}

.main-text-3 {
  color: var(--white, #FFF);
font-size: 16px;
left: 430px;
top: 494px;
position: absolute;
}

.main-img {
  left: 544px;
  top: 501px;
  position: absolute;
}

.main-img-2 {
  left: 802px;
  top: 149px;
  position: absolute;
}

.main-img-3 {
  left: 160px;
  top: 787px;
  position: absolute;
}

.main-text-4 {
  width: 419px;
color: var(--dark-blue, #282938);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
left: 551px;
top: 1801px;
position: absolute;
}

.main-text-5 {
  width: 630px;
color: var(--dark-blue, #282938);
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
left: 465px;
top: 1841px;
position: absolute;
}

.main-div-2 {
  width: 405px;
height: 316px;
flex-shrink: 0;
background: #FFF;
left: 160px;
top: 2080px;
position: absolute;
}

.div-2-text {
  width: 314.748px;
color: var(--dark-blue, #282938);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px;
top: 108px;
left: 48px;
position: absolute;
}

.div-2-text-2 {
  width: 324.079px;
color: var(--dark-blue, #282938);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
left: 48px;
top: 156px;
position: absolute;
}

.main-div-3 {
  width: 405px;
  height: 316px;
  flex-shrink: 0;
  background: #FFF;
  left: 597px;
  top: 2080px;
  position: absolute;
}

.main-div-4 {
  width: 405px;
  height: 316px;
  flex-shrink: 0;
  background: #FFF;
  left: 1035px;
  top: 2080px;
  position: absolute;
}

.div-4-img {
  left: 48px;
  top: 48px;
  position: absolute;
}

.main-div-5 {
  width: 405px;
  height: 316px;
  flex-shrink: 0;
  background: #FFF;
  left: 160px;
  top: 2420px;
  position: absolute;
}

.main-div-6 {
  width: 405px;
  height: 316px;
  flex-shrink: 0;
  background: #FFF;
  left: 597px;
  top: 2420px;
  position: absolute;
}

.main-div-7 {
  width: 405px;
  height: 316px;
  flex-shrink: 0;
  background: #FFF;
  left: 1035px;
  top: 2420px;
  position: absolute;
}

.main-div-8 {
  width: 100%;
height: 506px;
flex-shrink: 0;
opacity: 0.5;
background:  #FFF;
top: 2864px; 
position: absolute;
}

.div-8-text {
  width: 327px;
  color:  #282938;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  left: 160px;
  top: 130px;
  position: absolute;
}

.div-8-text-2 {
  width: 327px;
color: var(--dark-blue, #282938);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
left: 160px;
top: 258px;
position: absolute;
}

.div-8-text-3 {
  width: 843px;
color: var(--dark-blue, #282938);
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 48px;
left: 597px;
top: 128px;
position: absolute;
}

.footer-img {
  left: 159px;
  top: 104px;
  position: absolute;
}

.footer-text {
  width: 399px;
color:  #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
top: 160px;
left: 160px;
position: absolute;
}

.footer-div-2 {
  width: 517px;
height: 95px;
flex-shrink: 0;
background: #FCD980;
left: 160px;
top: 302px;
position: absolute;
}

.divv-2-text {
  color: #282938;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px;
left: 37px;
top: 18px;
position: absolute;
}

.divv-2-text-2 {
  width: 66px;
  color: #282938;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px;
left: 247px;
top: 17px;
position: absolute;
}

.divv-2-text-3 {
  color:  #282938;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
left: 37px;
top: 51px;
position: absolute;
}

.divv-2-text-4 {
  color:  #282938;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  left: 247px;
  top: 51px;
  position: absolute;
}

.footer-text-2 {
  width: 333px;
color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
left: 818px;
top: 96px;
position: absolute;
}

.footer-text-3 {
  width: 399px;
color: var(--grey, #F4F6FC);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
left: 819px;
top: 174px;
position: absolute;
}

.footer-img-2 {
  left: 819px;
  top: 286px;
  position: absolute;
}